<%# include('layouts/header')  %>

<!-- <h1>About Page</h1> -->

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/photo-1484417894907-623942c8ee29.jpeg" alt="photo" class="img-thumbnail rounded" width="300px">
      <h1 class="display-4">Alif</h1>
      <p class="lead">Students</p>
    </div>
  </div>
</div>

<%# include('layouts/nav') %>
<%# include('layouts/footer') %>

